# ==========================================
# Toolchain Compilation & Simulation Outputs
# ==========================================
# Ignore raw simulation value change dump logs (can get massive)
*.vcd

# Ignore compiled Icarus Verilog execution binaries
*.vvp

# ==========================================
# EDA Vendor Log Files (Vivado/Quartus Junk)
# ==========================================
*.log
*.jou
*.str
*.txt
xsim.dir/
.Xil/